{% extends "fluid.html" %}
{% from "forms.html" import render_textarea, render_textfield, render_datetime, render_submit %}

{% block extras %}
    <script type="text/javascript" src="{{url_for('static', filename='jquery-ui.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery-ui-timepicker-addon.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">  
{% endblock %}

{% block contents %}
    <form action="{{url_for('problem_new')}}" method="POST" class="admin-form">
    	<fieldset>
    		<legend>New Problem</legend>
            {{ render_textfield('Title', 'title') }}
            {{ render_textarea('Description', 'description') }}
            {{ render_textarea('Sample input', 'sample_input') }}
            {{ render_textarea('Sample output', 'sample_output') }}
            {{ render_textfield('Weight', 'weight') }}
            {{ render_datetime('Start time', 'start_time') }}
            {{ render_datetime('End time', 'end_time') }}
            {{ render_submit('Create Problem') }}
    	</fieldset>
    </form> 
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='admin.js') }}"></script>
{% endblock %}