{% extends "fluid.html" %}
{% from "forms.html" import render_fileinput, render_textfield, render_submit %}
{% from "index.html" import render_flash %}
{% block extras %}
    <script type="text/javascript" src="{{url_for('static', filename='jquery-ui.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery-ui-timepicker-addon.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">  
{% endblock %}
{% block contents %}
    <form action="{{url_for('testcase_new')}}" method="POST" class="testcase" enctype=multipart/form-data>
    	<fieldset>
    		<legend>New Testcase</legend>
            {{ render_flash('admin') }}
            {{ render_textfield('Problem ID', 'problem_id', 5) }}
            {{ render_fileinput('Input file', 'ifile') }}                 
            {{ render_fileinput('output file', 'ofile') }}                 
            {{ render_submit('Create Testcase') }}
    	</fieldset>
    </form>  
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='admin.js') }}"></script>
{% endblock %}