{% extends "fluid.html" %}
{% from "forms.html" import render_textarea, render_textfield, render_datetime, render_submit %}
{% from "index.html" import render_flash %}
{% block extras %}
    <script type="text/javascript" src="{{url_for('static', filename='jquery-ui.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery-ui-timepicker-addon.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">  
{% endblock %}
{% block contents %}
    <form action="{{ url_for('problem_update', pid=problem.id) }}" method="POST" class="problem">
    	<fieldset>
    		<legend>New Problem</legend>
            {{ render_flash(['admin']) }}
            {{ render_textfield('Title', 'title', value=problem.title) }}
            {{ render_textarea('Description', 'description', value=problem.description) }}
            {{ render_textarea('Sample input', 'sample_input', value=problem.sample_input) }}
            {{ render_textarea('Sample output', 'sample_output', value=problem.sample_output) }}
            {{ render_textfield('Weight', 'weight', value=problem.weight) }}
            {{ render_datetime('Start time', 'start_time', value=problem.get_start_time()) }}
            {{ render_datetime('End time', 'end_time', value=problem.get_end_time()) }}
            {{ render_submit('Update') }}
    	</fieldset>
    </form>  
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='admin.js') }}"></script>
{% endblock %}