{% extends  "fluid.html" %}
{% from "index.html" import render_flash %}

{% block contents %}
    <h2>Problems</h2>
    <div class="right"><a class="btn primary" href="{{url_for('problem_new')}}">New Problem</a></div>
    {{ render_flash(['admin']) }}
    <table class="zebra-striped">
        <thead>
        <tr>
            <th>id</th>
        	<th>Name</th>
        	<th>Edit</th>
        </tr> 
        </thead> 
        <tbody>
        {% for problem in problems %}
            <tr>
            	<td>{{ problem.id }}</td>
            	<td>{{ problem.title }}</td>
            	<td><a href="{{url_for('problem_update', pid=problem.id)}}" class="btn success">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
