{% extends  "fluid.html" %}
{% from 'index.html' import render_flash %}

{% block contents %}
    <h2>Testcases</h2>
    <div class="right"><a class="btn primary" href="{{url_for('testcase_new')}}">New testcase</a></div>
    {{ render_flash(['admin']) }}
    <table class="zebra-striped">
        <thead>
        <tr>
            <th>id</th>
        	<th>Problem</th>
        </tr> 
        </thead> 
        <tbody>
        {% for testcase in testcases %}
            <tr>
            	<td>{{ testcase.id }}</td>
            	<td>{{ testcase.get_problem_name() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
