{% from "forms.html" import render_textfield, render_textarea, render_submit %}
{% from "index.html" import render_flash %}

{% macro render_problem(problem, submit=True) %}
    {% if problem %}
        
    {{ problem.html|safe }}
    <p>You can solve this problem for <strong>{{ problem.get_score() }}</strong> points now. '*' denotes required field</p>
    
    {% if submit %}
    <form action="/enigma/submit/{{problem.id}}/" method="POST">
        {{ render_flash(['enigma']) }}
        {{ render_textfield('Team name *', 'team') }}
        {{ render_textarea('Team members', 'members') }}
        {{ render_textfield('Your answer *', 'answer') }}
        {{ render_submit() }}
    </form>
    {% endif %}
    {% endif %}


{% endmacro %}