
<a href="http://aayam2012.in"><img src="{{ url_for('static', filename='aayam.png') }}" alt="Aayam 2012"></a>

   

<div class="sidebar">
    <h3>Enigma puzzles contest.</h3>
    <h2>
        <a href="{{ url_for('enigma_home') }}">Home</a>
    </h2>
    <h2>
        <a href="{{ url_for('enigma_archive') }}">Archive</a>
    </h2>

    <h2>
        <a href="{{ url_for('enigma_contacts') }}">Contacts</a>
    </h2>
</div>