@import "stylesheet";
@import "bootstrap.min";

/* Vars */
$light-black: #1b1b1b;


@mixin box_round($radius: 12px) {
     -moz-border-radius: $radius; /* FF1-3.6 */
  -webkit-border-radius: $radius; /* Saf3-4, iOS 1-3.2, Android <1.6 */
          border-radius: $radius; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
          
  /* useful if you don't want a bg color from leaking outside the border: */        
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

.box_shadow {
     -moz-box-shadow: 0px 0px 4px #ffffff; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 4px #ffffff; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 4px #ffffff; /* Opera 10.5, IE9, Chrome 10+ */
}

del { text-decoration: line-through; color: #666; }
small, sup, sub { font-size: 85%; }
abbr, acronym { text-transform: uppercase; font-size: 85%; letter-spacing: .1em; }
a abbr, a acronym { border: none; }
abbr[title], acronym[title], dfn[title] { cursor: help; border-bottom: 1px solid #ccc; }
sup { vertical-align: super; }
sub { vertical-align: sub; }

h1, h2, h3, h4, h5, h6 {
    font-family: FontinSansBold;
}

p, body {
    font-family: FontinRegular;
}
.huge {
    font-size: 36px;
    font-family: FontinBold; 
    color: $light-black;
    padding-top: 50px;
}

p.huge-light {
    font-size: 38px;
    font-family: FontinSansRegular;
    color: $light-black;
}


/* SASS code starts here */

@mixin hidden {
    display: none;
}

@mixin clickable {
    cursor: pointer;
}

/* Feed View */

.feed-nav {
    @extend .span2;
    @include hidden;
    @include clickable;
}

$alert-types: warning, success, error;

@each $type in $alert-types {
    .alert-#{$type} {
        @extend .alert-message;
        @extend .#{$type};
        @include hidden;
    }
}

/* Footer */

#footer {
    clear: both;
}

/* Forms */
#formbox {
    @extend .row;
    padding: 100px 10px;
    form {
        margin: 10%;
    }
}

.form-item {
    @extend .clearfix;
    input {
        @extend .xlarge;
    }
}

.error-block {
    @extend .alert-message;
    @extend .block-message;
    @extend .error;
}

/* Sidebar */
.howdy {
    padding: 20px 40px !important;
}
.sidebar {
    > a, h2 {
        font-weight: 50%;
        text-decoration: none;
        &:hover { text-decoration: underline; }
        & :link, :visited, :active { color: lighten($light-black, 30%); } 
    }

    > .sidebar {
        @include box_round;
        background-color: whitesmoke;
    }

    h2 {
        padding-left: 40px;
    }


    padding-top: 20px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
