<!doctype html>
<html>
    <head>
        <meta name="keywords" content=""/>
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <meta property="og:site_name" content="" />
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
        <script type="text/javascript">
            ASP = '{{ url_for("static", filename="")}}'; 
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='validators.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='common.js') }}"></script>
        {% block extras %} {% endblock %}
    </head>

    <body> 
       <div class="container">
           <div class="header">{% block header %}
           {% endblock %}</div> 
           <div class="contents row">{% block contents %}
           {% endblock %}</div> 
           <div class="footer">{% block footer %}
           {% endblock %}</div> 
       </div> 
       
        {% block scripts %} {% endblock %}
    </body>
</html>

