<div class="span6" style="padding-top: 120px;">

    <address>
        <strong>Vivek Narayanan</strong> </br>
        Phone: +91 9559226106 <br>
        email: <a href="mailto://mail@vivekn.co.cc">mail@vivekn.co.cc</a> <br>
    </address>

    <address>
        <strong>Amit Solapurkar</strong> </br>
        Phone: +91 7897526651 <br>
        email: <a href="mailto:solapurkar.amit@gmail.com">solapurkar.amit@gmail.com</a> <br>
    </address>

    <address>
        <strong>Gaurav Mishra</strong> </br>
        Phone: +91 9026594650 <br>
        email: <a href="mailto://gauravmishra0808@gmail.com">gauravmishra0808@gmail.com</a> <br>
    </address>

</div>