{% extends "fluid.html" %}

{% block title %}
    Codedef - Contact us.
{% endblock %}

{% block contents %}
    <h1>Contacts</h1>
    <p>Send your queries, suggestions and bug reports to <a href="mailto:mail@vivekn.co.cc">mail@vivekn.co.cc</a> </p>

    {% include 'contents_p.html' %}
{% endblock %}
