{% macro render_textfield(label, name, size=30, value="") %}
    <div class="form-item">
        <label for="{{name}}"> {{label}} </label>
        <div class="input"> <input id="{{name}}" type="text" name="{{name}}" size="{{size}}" value = "{{value}}"/>
        </div>
    </div>
{% endmacro %}

{% macro render_textarea(label, name, value="") %}
    <div class="form-item">
        <label for="{{name}}"> {{label}} </label>
        <div class="input"> 
            <textarea id="{{name}}" name="{{name}}"> {{value}} </textarea> 
        </div>
    </div>
{% endmacro %}

{% macro render_datetime(label, name, value) %}
	<div class="form-item">
        <label for="{{name}}"> {{label}} </label>
        <div class="input"> <input id="{{name}}" type="text" name="{{name}}"
             class="hasDatePicker" value="{{value}}"/> </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#{{name}}').datetimepicker();
        });
    </script>
{% endmacro %}

{% macro render_fileinput(label, name) %}
    <div class="form-item">
        <label for="{{name}}"> {{label}} </label>
        <div class="input"><input type="file" class="input-file" id="{{ name }}" name="{{ name }}" /></div> 
    </div>   
{% endmacro %}

{% macro render_submit(label="Submit")%}
    <div class="input"> <input type="submit" class="btn primary" value="{{ label }}"/> </div>
{% endmacro %}