{% extends "fluid.html" %}
{% from "pagination.html" import render_pagination %}

{% block title %}
    Codedef - History
{% endblock %}

{% block contents %}
    <h2>Your submissions</h2>
    <br />

    {% if (history.items) %}
    <table class="zebra-striped">
    	<thead> 
            <tr>
            	<th>Problem</th>
            	<th>Submission time</th>
            	<th>Correct</th>
            	<th>Points</th>
            </tr>
        </thead>
    	<tbody> 
            {% for submission in history.items %}
                <tr>
                    <td>{{ submission.problem.title }}</td>
                    <td>{{ submission.time }}</td>
                    <td>{{ result(submission) }}</td>
                    <td>{{ points(submission) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ render_pagination(history) }}
    {% else %}
    <p> You haven't made any submissions yet. </p>
    {% endif %}
{% endblock %}

