{% extends "fluid.html" %}

{% block title %}
    Codedef - Home
{% endblock %}

{% block contents %}
    <h1>Code-def</h1>

    <p> Code-def is an online coding competition, a part of Aayam 2012, where you have to solve a set of programming puzzles
        in any language or environment of your choice. </p>

    <p> Check the sidebar for more links. Start off with today's problem. </p>

{% endblock %}
