{% extends "base.html" %}
{% block title %} Codedef - 2012 {% endblock %}

{% macro render_flash(filters, style="error") %}
    {% with messages = get_flashed_messages(category_filter=filters) %}
        {% if messages %}
            <div class="input flash">
            {% for msg in messages %}
                <div class="alert-message {{style}} small">
                    <a href="#" class="close" onclick="close_flash()">x</a>
                        <p>{{msg}}</p>
                </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endmacro %}

{% block contents %}
    <center>
        <img src="{{ url_for('static', filename='aayam.png') }}" alt="Aayam 2012">
    	<h1 class="huge"> Welcome to Code-def </h1>
    </center>

    <div id="formbox">
    	<div class="span7">
        <form method="POST" action="{{ url_for('authenticate') }}" id="lform"> <fieldset>
            <legend>Login</legend>
            {{ render_flash(['login']) }}
            <div class="form-item">
                <label for="lemail"> Email </label>
                <div class="input"> <input id="lemail" type="text" name="email" size="30" /> </div>
            </div>
            <div class="form-item">
                <label for="rpass"> Password </label>
                <div class="input"> <input id="rpass" type="password" name="password" size="30" /> </div>
            </div>
            <div class="form-item">
                <div class="input"> <input type="submit" class="btn primary" value="Log in"/> </div>
            </div>
        </fieldset> </form>
        </div>
    	<div class="span9">
        <form id="rform" method="POST" action="{{ url_for('register') }}"> <fieldset>
            <legend>Register</legend>
            
            {{ render_flash(['register']) }}

            <div class="form-item">
                <label for="remail"> Email </label>
                <div class="input"> <input id="remail" type="text" name="email" size="30" /> </div>
            </div>
            
            <div class="form-item">
                <label for="rpass"> Password </label>
                <div class="input"> <input id="rpass" type="password" name="password" size="30" /> </div>
            </div>
            
            <div class="form-item">
                <label for="rname"> Name </label>
                <div class="input"> <input id="rname" type="text" name="name" size="30" /> </div>
            </div>
            
            <!--<div class="form-item">
                <label for="lcollege"> College </label>
                <div class="input"> <input id="lcollege" type="text" name="college" size="30" /> </div>
            </div>
            
            <div class="form-item">
                <label for="lbranch"> Branch </label>
                <div class="input"> <input id="lbranch" type="text" name="branch" size="30" /> </div>
            </div>

            <div class="form-item">
                <label for="lyear"> Year </label>
                <div class="input"> <select name="year" id="lyear"> 
                    <option value="1">First</option>
                    <option value="2">Second</option>
                    <option value="3">Third</option>
                    <option value="4">Fourth</option>
                    <option value="5">Fifth</option>
                </select></div>
            </div>-->
            
            <div class="form-item">
                <div class="input"> <input type="submit" class="btn primary" value="Register"/> </div>
            </div>
        </fieldset> </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
