{% extends "fluid.html" %}
{% from "pagination.html" import render_pagination %}

{% block title %}
    Codedef - Leaderboard
{% endblock %}

{% block contents %}
    <h2>Leaderboard</h2>
    <br />
    <p>Rankings are determined by total number of points and the aggregate of submission times.</p>

    <table class="zebra-striped">
    	<thead> 
            <tr>
            	<th>#</th>
            	<th>Name</th>
                <!--
            	<th>College</th>
            	<th>Year</th>
                -->
            	<th>Points</th>
            </tr>
        </thead>
    	<tbody> 
            {% for person in rankings.items %}
                <tr>
                    <td>{{ loop.index + (rankings.page - 1) * 20 }}</td>
                    <td>{{ person.name }}</td>
                    <!--
                    <td>{{ person.college }}</td>
                    <td>{{ person.year }}</td>
                    -->
                    <td>{{ person.score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ render_pagination(rankings) }}
{% endblock %}
