{% macro render_pagination(pagination) %}
    <div class="pagination">
      <ul>
        {% if pagination.page <= 1 %}
            <li class="prev disabled"><a href="#">&larr; Previous</a></li>
        {% else %}
            <li class="prev"><a href="{{ url_for_other_page(pagination.page - 1) }}">&larr; Previous</a></li>
        {% endif %}
        {% for page in pagination.iter_pages() %}
            {% if page %}
                <li> <a class="{{'active' if page == pagination.page}}" 
                    href="{{ url_for_other_page(page) if page != pagination.page else '#' }}">{{page}}</a> </li>
            {% else %}
                <li> <a href="#" class="disabled">...</a> </li>
            {% endif %}
        {% endfor %}
       
        {% if pagination.has_next %}
            <li class="next"><a href="{{url_for_other_page(pagination.page + 1)}}">Next &rarr;</a></li>
        {% else %}
            <li class="next disabled"><a href="#">Next &rarr;</a></li>
        {% endif %}
          </ul>
    </div>
{% endmacro %}