{% extends  "fluid.html" %}
{% from "index.html" import render_flash %}

{% block title %}
    Codedef - Problems
{% endblock %}

{% block contents %}
    <h2>Problems</h2>
    
    <table class="zebra-striped">
        <thead>
        <tr>
            <th>id</th>
        	<th>Name</th>
        	<th>Posted on </th>
            <th>Till</th>
        </tr> 
        </thead> 
        <tbody>
        {% for problem in problems %}
            <tr>
            	<td> <a href="{{url_for('problem_view', pid=problem.id)}}"> {{ problem.id }}</a></td>
            	<td><a href="{{url_for('problem_view', pid=problem.id)}}"> {{ problem.title }}</a></td>
            	<td> {{ problem.get_start_time() }}</td>
                <td>{{ problem.get_end_time() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
