{% from "index.html" import render_flash %}
{% from "forms.html" import render_submit %}
{% macro problem_markup(problem) %}
    <h2>{{problem.title}}</h2>
    <p>{{problem.description|safe}}</p>
    <br>
    <h3>Sample input</h3>
    <code><pre>{{problem.sample_input}}</pre></code> 
    <h3>Sample output</h3>
    <code><pre>{{problem.sample_output}}</pre></code>
    
    <div class="submit">
        {% if 'user' in session %}
            {% if (not solved) and (not elapsed) %}
            
            <form action="{{ url_for('submit')}}" method="POST" enctype=multipart/form-data> <fieldset>
                <legend>Submit your solution</legend>

                <div class="form-item input"><a href="{{url_for('input_file', pid=problem.id)}}" class=""> Download Input file</a>
                </div>

                {{ render_flash(['submissions']) }}
                
                <div class="form-item">
                    <label for="source"> Source code </label>
                    <div class="input">
                    	<input id="source" name="source" type="file" />
                    </div>
                </div>         

                <div class="form-item">
                    <label for="output"> Your output file </label>
                    <div class="input">
                    	<input id="output" name="output" type="file" />
                    </div>
                </div>         
                
                {{ render_submit("Submit") }}
            </form>
            {% elif elapsed and (not solved) %}
            <p>The time for submitting solutions to this problem has elapsed.</p>
            {% else %}
            <p>You've successfully solved this problem.</p>
            {% endif %}

        {% else %}
        <p> You need to be logged in to submit your solution. </p>
        {% endif %}
    </div>
    
{% endmacro %}

{% extends "fluid.html" %}

{% block title %}
    Codedef - {{problem.title}}
{% endblock %}

{% block contents %}
    {{ problem_markup(problem) }}
{% endblock %}
