
<a href="http://aayam2012.in"><img src="{{ url_for('static', filename='aayam.png') }}" alt="Aayam 2012"></a>

	{% if 'user' in session %}
	    <div class="howdy"><h3> Howdy, {{ get_user().name.split()[0] }}! </h3></div>
	{% endif %}

<div class="sidebar">

	<h2>
	<a href="{{ url_for('home') }}">Home</a>
	</h2>
	<h2>
	<a href="{{ url_for('today') }}">Today's Problem</a>
	</h2>
	<h2>
	<a href="{{ url_for('problem_list') }}">Problems</a>
	</h2>
	<h2>
	<a href="{{ url_for('leaderboard') }}">Leaderboard</a>
	</h2>
	<h2>
	<a href="{{ url_for('history') }}">History</a>
	</h2>
	<h2>
	<a href="{{ url_for('faq') }}">Contact us</a>
	</h2>
	<h2>
	<a href="http://codedef.posterous.com">Solutions / Blog</a>	
	</h2>

	{% if 'user' in session %}
		{% if get_user().is_admin %}
			<h2>
			<a href="{{ url_for('problem_editor') }}">Problem Editor</a>
			</h2>
			<h2>
			<a href="{{ url_for('testcase_editor') }}">Test Case Editor</a>
			</h2>
		{% endif %}

		<h2>
		<a href="{{ url_for('logout') }}">Logout</a>
		</h2>
	{% endif %}
</div>